# Server
HOST=0.0.0.0
PORT=3000

# PostgreSQL
PGHOST=postgres_db
PGPORT=5432
PGUSER=your_username
PGPASSWORD=your_password
PGDATABASE=forumapi

# JWT
ACCESS_TOKEN_KEY=your_access_token_key
REFRESH_TOKEN_KEY=your_refresh_token_key
ACCESS_TOKEN_AGE=1800